<!-- XCopy del header del index.ejs y en index.ejs pongo el include...
 Ventaja del partials, agrego Ofertas y sólo lo hago acá -->
<header>
  <nav>
    <a href="/">Inicio</a>
    <a href="/productos">Productos</a>
    <a href="#">Ofertas </a>
  </nav>
</header>
