<!-- Sabemos que acá sólo hay que agregar lo que iría dentro del main -->
<h1>Listado de Categorías</h1>
<!-- Cómo renderizo esta pagina, desde el controlador y cambio res.send('Listado de Categorias') -->
<a href="/categorias/create">Crear una Categoría</a>
<table>
  <!-- cabecera -->
  <thead>
    <!-- filas -->
    <tr>
      <!-- celdas de las cabecera -->
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    <!-- array de categorias.forEach para recorrerlo //No puedo mezclar js y html-->
    <% categorias.forEach(categoria=>{ %>
    <tr>
      <td>
        <a href="/categorias/<%= categoria.id %>"><%= categoria.nombre %></a>
      </td>
      <td>
        <a href="categorias/<%= categoria.id %>/edit">Edit</a>
        <form
          class="form-delete"
          action="categorias/<%= categoria.id %>?_method=DELETE"
          method="post"
        >
          <button type="submit">Borrar</button>
        </form>
      </td>
    </tr>
    <%}) %>
    <!-- <tr
      <td>Se completará dinamicamente</td>
    </tr> -->
  </tbody>
</table>
<!-- Ponemos un script de front-end que advierta al cliente si está seguro de borrar -->
<script>
  document.addEventListener("submit", (event) => {
    event.preventDefault();
    if (event.target.classList.contains("form-delete")) {
      if (confirm("¿Esta seguro?")) {
        event.target.submit();
      }
    }
  });
</script>
