<!-- Sabemos que acá sólo hay que agregar lo que iría dentro del main -->
<h1>Listado de Productos</h1>
<!-- Cómo renderizo esta pagina, desde el controlador y cambio res.send('Listado de productos') -->
<a class="button button--primary" href="/productos/create"
  >Crear una Producto</a
>
<section class="listados">
  <table>
    <!-- cabecera -->
    <thead>
      <!-- filas -->
      <tr>
        <!-- celdas de las cabecera -->
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <!-- array de productos.forEach para recorrerlo //No puedo mezclar js y html-->
      <% productos.forEach(producto=>{ %>
      <tr>
        <td>
          <a href="/productos/<%= producto.id %>"><%= producto.name %></a>
        </td>
        <td class="cell-inline">
          <a
            class="button button--primary"
            href="productos/<%= producto.id %>/edit"
            >Edit</a
          >
          <form
            class="form-delete"
            action="productos/<%= producto.id %>?_method=DELETE"
            method="post"
          >
            <button class="button button--danger" type="submit">Borrar</button>
          </form>
        </td>
      </tr>
      <%}) %>
      <!-- <tr
      <td>Se completará dinamicamente</td>
    </tr> -->
    </tbody>
  </table>
</section>
<!-- Ponemos un script de front-end que advierta al cliente si está seguro de borrar -->
<script>
  document.addEventListener("submit", (event) => {
    event.preventDefault();
    if (event.target.classList.contains("form-delete")) {
      if (confirm("¿Esta seguro?")) {
        event.target.submit();
      }
    }
  });
</script>
